<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to restaurants_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "https://media-cdn.tripadvisor.com/media/photo-s/04/5f/56/f5/hotel-forum-roma.jpg", height: 50 %>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Links -->
    <%= link_to "Add new restaurant", new_restaurant_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>
